@media only screen and (max-width: 1430px) {
	#banner .carousel-caption {
	    position: absolute;
	    right: 15%;
	    bottom: 10%;
	    left: 15%;
	    z-index: 10;
	    padding-top: 20px;
	    padding-bottom: 20px;
	    color: #fff;
	}
	#banner .carousel-indicators{
		position: absolute;
	    right: 0;
	    bottom: 5%;
	    left: 0;
	    z-index: 15;
	    display: -ms-flexbox;
	    display: -webkit-box;
	    display: flex;
	    -ms-flex-pack: center;
	    -webkit-box-pack: center;
	            justify-content: center;
	    padding-left: 0;
	    margin-right: 15%;
	    margin-left: 15%;
	}
	.bg-morado{
		background-color: #5b376fd1;
	    width: 100%;
	    height: 0em;
	    position: absolute;
	    right: 0;
	    bottom: 0px;
	    left: 0;
	    z-index: 15;
	}
	#cuerpo{
		margin-top: 0em;
	}
	.bg-chicas{
		background-color: #5b376f;
	    display: block;
	    padding: 1em;
	    margin-bottom: 1em;
	}
	.titulo-chicas {
	    display: block;
	    text-align: center;
	    font-size: 1.2em;
	    padding: 1em 0;
	    color: #fff;
	    margin: 0;
	}
}

@media only screen and (max-width: 991px) {
	/* TOP */
	.esp-checkcheck{
	    padding-top: 0em;
	    padding-bottom: 0em;
	}
    .espaciado-btn-header-bottom{
		padding: 0em;
	}
	.espaciado-btn-header-top{
		padding: 0em;
	}
	.icono-mapa {background-position: 40%;}

	footer ul{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}

@media only screen and (max-width: 767px) {
	/*TOP*/
	/*.header-top .navbar,
	.header-bottom .navbar {padding: 0;}*/

	.icono-mapa {background-position: 35%;}
	.bg-completa {
    	background-image: url(../img/bg-completa-celular.jpg);
	}
	.mitad-celular{
		-ms-flex: 0 0 50%;
    	-webkit-box-flex: 0;
		        flex: 0 0 50%;
    	max-width: 50%;
	}

	/* INTRANET */
	.bg-intranet {
		background-position: center;
	    background-repeat: inherit;
	    background-attachment: inherit;
	    background-size: auto;
	}

	.acceso-intranet {
		width: 100%;
		margin: 0 2em;
		-ms-grid-columns: 100%;
		grid-template-columns: 100%;
	}
	.bg-img-acceso {display: none;}
	.espacio-acceso-intranet {border-radius: 1em;}

	/* ACCEDER */
	#banner-internas {margin-bottom: 1em;}
	#banner-internas img {display: none;}
	.accesos-derecha {text-align: center;}

	/* PERFIL PROFESIONAL */
	.perfiles-faq .card .btn-link {
		text-align: left;
		white-space: normal;
	}
	/* NO RESERVA */
	.carrusel-bot .carousel-control-next,
	.carrusel-bot .carousel-control-prev {display: none;}

	/* FREE PLANES */
	.tipo-cuenta {margin-bottom: 1em;}

	/* HEADER PERFIL */
	.header-perfil-creado {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
	.quedan-tiempo {margin: .5em 0;}
	.usuario-creado {margin-top: 1em;}
	.eliminar-usuario {margin-top: .5em;}

	/* CREAR CUENTA */
	.pasos {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
	.linea-paso {display: none;}


	/* NO RESERVA FREE */
	.botones-cabecera-chicas span {margin: 0 .25em;}
	.reserva-fecha {margin-top: .75em;}

	/* ACCEDER */
	.tca-movil {display: none;}

	/* FREE-BOOSTER */
	.custom-control-label .horizontal {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: start;
	}
}

@media only screen and (max-width: 500px) {
	/*TOP*/
	.icono-mapa {background-position: 28%;}

	.formulario-landing{
		width: 90%;
	}
	.logo-responsive-top{
		width: 100%;
	}
	.navbar-brand{
		width: 70%;
	}
	.tipo-de-perfil{
		padding: 0.5em 2em 1em;
	}
	.sellos img {
    	margin: 0 0.2em;
	}

	/* MODAL */
	.modal-dialog {margin: 1.25rem;}

	/* MENSAJE FIJO */
	#form-consultor {margin: 0 1em;}

	/* MUJERES FREE */
	.cabecera-chicas-busqueda-detallada {
		width: 100%;
		margin-top: 1em;
		text-align: center;
	}
	.espacio-reservas.servicios-reservas .nav.nav-tabs {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
	.espacio-reservas.servicios-reservas .nav.nav-tabs .nav-item {border-bottom: 1px solid #dee2e6;}

	/* FREE PLANES */
	.usuario-nombre {margin-top: 1em;}
	.identificador {text-align: left;}
}

@media only screen and (max-width: 380px) {
	.tamano-pequeno{
		font-size: 0.9em;
	}

	.icono-mapa {background-position: 25%;}

	.busqueda-detallada-range {-ms-flex-wrap: nowrap;flex-wrap: nowrap;}
	.busqueda-detallada-range .esp-i,
	.busqueda-detallada-range .esp-d {text-align: center;}

	.botones-cabecera-chicas a {font-size: .7em;}
}

@media only screen and (max-width: 320px) {
	.icono-mapa {background-position: 22%;}
}
