label.error { font-size: 12px; color:red; }

.nav-tabs { padding-bottom: 0; }
.nav-tabs .nav-item { padding:0; }

.margen-otras-chicas { margin-top:30px; }

.direccion-cliente { margin-top: 20px;}
.direccion-cliente input { padding-top: 10px;}

.btn-busqueda-detallada.marcado { background: rgb(5, 182, 5);}

.servicios_seleccionados {
    padding: 28px;
    border: 1px solid #a95db6;
    border-radius: 14px;
    background: #eded;
}

.lista-plan-reservas {

    padding-left: 1em;
    background: url('../img/icon-list.png') no-repeat 0px 17px;
    color: #808080;
    margin-left: 30px;
    padding-top:15px;
    padding-bottom:15px;
    border-bottom: 1px solid #c7c7c7;

}

.btn-rechazar-reserva{

    width: 100%;
    border-radius: 0.5em;
    color: #fff;
    font-weight: bold;
    background-color: #f20f21;
    border-color: #f20f21;

}

.btn-aceptar-reserva{

    width: 100%;
    border-radius: 0.5em;
    color: #fff;
    font-weight: bold;
    background-color: #5b376f;
    border-color: #5b376f;

}

.btn-cerrar-reserva{

    width: 100%;
    border-radius: 0.5em;
    color: #fff;
    font-weight: bold;
    background-color: #0069d9;
    border-color: #0069d9;

}


